* {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* body {
  overflow: hidden; /* Hide scrollbars */
/* }
html {
  overflow-x: hidden;
} */
*/

/* li,
p,
a {
  font-size: 1.6rem;
} */

/* h1 {
  font-size: 4rem;
} */

/* h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

.row {
  margin: 0;
} */

/* .navbar-style {
  background-color: #f8f9fa;
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
} */
.nav-bor {
 border: 5px solid;
}
  #logo {
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #ff0f0f;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
  align-items: center;
}


.navbar {
  padding: 2rem 0;
}
.navbar li {
  margin-left: 2rem;
}

.navbar a {
  color: black;
  font-size: 1.8rem;
}

.n-list {
  margin-left: 60%;
}
/* .bgimg {
  height: 600px;
  background-position: center center;
  background-size: cover;
  background-image: url("http://blooddonation.unlein.com/Admin/images/030321045942dsf.jpg");
  background-repeat: no-repeat;
} */

.carousel-img {
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
.ptag {
  animation-delay: 0.4s;
  opacity: 1;
  color: white;
  text-align: center;
  font-size: 25px;
}
.h2tag {
  animation-delay: 0.2s;
  opacity: 1;
  color: white;
  line-height: 34px;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 160px;
}
.bt1,.frm-btn {
  width: 100%;
  font-size: larger;
  padding: 10px 0;
}
.abt {
  text-align: center;
}
.abt-content {
  line-height: 34px;
  font-size: large;
}
.hed {
  font-weight: bolder;
  font-size: 30px;
}
.contact{
  width: 400px;
}
footer {
  text-align: center;
  /* background-color: #333; */
  /* color: #fff; */

  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}